.project-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: hsl(0, 0%, 92%);
    border-radius: 24px;
    padding: 40px 28px;
}

.project-image-link {
    display: block;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 16px hsla(0, 0%, 33%, 0.3);
    transition: all 0.3s;
}

.project-image:hover {
    transform: scale(1.04);
}

.project-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-name {
    font-size: 22px;
    text-transform: uppercase;
}

.project-links-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.project-explore,
.project-github {
    cursor: pointer;
}

.technology-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.technology-name {
    font-size: 12px;
    padding: 4px 12px;
    background-color: hsl(0, 0%, 80%);
    border-radius: 12px;
}

@media (max-width: 699px) {
    .project-container {
        gap: 20px;
        padding: 20px;
    }

    .project-links-container {
        align-items: center;
    }

    .project-name {
        font-size: 18px;
    }

    .project-links-container {
        gap: 16px;
    }

    .technology-name {
        padding: 4px 8px;
    }
}
