.work-container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 32px;
    padding: 64px 16px;
    /* border: 1px solid white; */
}

.work-item {
    width: 48.5%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
