* {
    color: hsl(0, 0%, 98%);
}

.app-container {
    display: flex;
    justify-content: center;
    width: 1024px;
    height: 100vh;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid white;
}
