@font-face {
    font-family: "silka";
    src: url("/silka.woff2") format("woff2"), url("/silka.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: "silka";
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#root {
    position: relative;
    z-index: 1;
    overflow-y: auto;
    scrollbar-width: none;
}
