@font-face {
    font-family: "silka";
    src: url("/silka.woff2") format("woff2"), url("/silka.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "silka";
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: #171717;
}

#root {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: linear-gradient(
            to bottom,
            rgba(0, 255, 255, 0) 0%,
            rgba(0, 255, 255, 0.5) 70%,
            rgba(0, 255, 255, 0.3) 100%
        );

        animation: drop 7s cubic-bezier(0.4, 0.26, 0, 0.97) infinite;
        animation-fill-mode: forwards;
    }

    &:nth-child(1) {
        margin-left: -40%;
        &::after {
            animation-delay: 2s;
        }
    }

    &:nth-child(2) {
        margin-left: -20%;
        &::after {
            animation-delay: 2.5s;
        }
    }

    &:nth-child(3) {
        margin-left: 0%;
        &::after {
            animation-delay: 3s;
        }
    }

    &:nth-child(4) {
        margin-left: 20%;
        &::after {
            animation-delay: 3.5s;
        }
    }

    &:nth-child(5) {
        margin-left: 40%;
        &::after {
            animation-delay: 4s;
        }
    }
}

@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}
